.About{
  @include flex(row,space-between,center,40);

  &__img{
    flex:1;
    align-self: center;   
    text-align: center;
  }
  &__blob{
    max-width:80%;
    min-width: rem(320);
    & path{
      stroke: $first-color;
    }
   }
 
  &__data{
    flex:1;
  //  background-color: lightblue;

  &--discrebtion{
    p{
      color:$text-color;
      font-size: $normal-font-size;
      margin: rem(20) 0;
      max-width:rem(450);

    }
  }
  &--button{
    margin-top:rem(30);
  }
 
  }
}

.skills{
  @include flex(row,space-between,center,50);
  padding:rem(60) 0 ;
  height:100%;
  &__describtion{
    flex:1 1 40%;

  &--info{
    p{
      color:$text-color;
      font-size: $normal-font-size;
      margin: rem(20) 0;
      max-width:rem(430);

    }
  }
  &--button{
    margin-top:rem(30);
  }
 
  }
  &__gall{
    flex:1 1 75%;
  }
  &__gallery{
    height:rem(200);   
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: rem(20);
      
    &--skill{
      @include flex(row,center,center,5);
      max-height:rem(50);
      &--count{
        color:$first-color;
        font-size:$h3-font-size;
        font-weight: $font-semi-bold;
      }
      &--name{
        flex:1 1 60%;
        max-width:rem(80);
        font-size: $normal-font-size;
      }
      &--progress{
        flex:1 1 40%;
        max-width: rem(200);
      }
      
      
    }

  }

}