.contact{
  @include flex(column,center,center);
  &__header{
    text-align: center;
  }
  &__title{
    text-align: center;
    margin:rem(10) 0;
  }
  &__form{
  width: 70%;
  min-width:rem(400);
  margin-top: rem(30);
  @include flex(column,top,center,20);
    &--email{
      @include flex(row,space-between,center,20);
      flex-wrap:wrap;
      width: 100%;      
      input{
        flex:1 1 40%;
        min-width:rem(40);
        color:$title-color;
        background-color: $container-color;
        border: none;
        padding:rem(15); 
        border-radius: rem(5);
        outline: none;
        transition:outline .2s;
        &::placeholder{
          color:$text-color;
        }
        &:focus{
          outline:rem(2) outset $first-color;
         
        }
        &:nth-of-type(3) {
          flex:1 1 80%;
        }
      }
      
    }
    &--message{
      width: 100%;
      textarea{
        width:inherit;
        height: rem(200);
        color:$title-color;
        background-color: $container-color;
        border: none;
        padding:rem(15); 
        border-radius: rem(5);
        resize: none;
        outline: none;
        transition:outline .2s;
        &::placeholder{
          color:$text-color;
        }
        &:focus{
          outline:rem(2) outset $first-color;
         
        }
      }
     
    }

  }
}
.contact__information{
  padding:rem(60) 0;
  &--header{
    text-align: center;
    padding-bottom:rem(50);
  }
  &--info{
    @include flex(row, space-between,top,40);
    &--data{
      &-header{
        padding-bottom:rem(20);
      }
      flex:1 1 50%;
    }
    &--location{
      flex:1 1 40%;
      //max-width: 80%;
      height:rem(300);
      position: relative;
      padding-left:rem(5%);
      iframe{

        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        border-radius: rem(10);
        filter:invert(100%);
      }
      
    }
  }
}