.projects{
  
  &__header{
    text-align: center;
  }
  &__title{
    text-align: center;
    margin:rem(10) 0;
  }
  &__gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: rem(15);
    row-gap: rem(15);
    margin:rem(60) 0 ;
  }
}